.basket-button {
  @include button;
  font-family: "Montserrat", sans-serif;
  padding: 21px;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 0 44px;
  }
}

.basket-button:hover > .button-icon {
  fill: $base-primary;
}

.basket-button:hover > .button-name {
  color: $base-primary;
}

.log-in-button,
.basket-button {
  text-transform: uppercase;
  position: relative;
}

.button-icon {
  fill: $base-black;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 20px;
    top: 0;
  }
}
