.catalog {
  padding-bottom: 44px;
  background-color: $lightet-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.catalog__title {
  padding-top: 50px;
  margin: 0 0 4px 0;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.catalog-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.catalog__form {
  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}

.catalog__decription {
  margin: 0 0 20px 0;
}

.catalog__buttons-wrapper {
  text-align: center;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.catalog__buttons-wrapper button {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
