.header {
  position: relative;
  height: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    height: 80px;
  }
}

.logo {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.logo__picture {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-right: 20px;
  }
}

.logo__name {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 126px;
  }
}

.site-navigation {
  width: 100%;
  height: 100%;
  order: 1;

  @media (min-width: $tablet-width) {
    width: auto;
    order: 0;
  }
}

.site-navigation-list {
  width: 100%;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.site-navigation-item {
  border-bottom: 1px solid $base-secondary;
  padding: 20px 0;
  margin: 0 -20px;

  &:active {
    background-color: $base-secondary;
  }

  &:nth-child(1) {
    border-top: 1px solid $base-secondary;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: none;
  }
}

.site-navigation-item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $base-primary;
  }
}

.site-navigation-item-link {
  color: $base-black;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    &:active {
      color: $base-primary;
    }

    &:hover {
      color: $base-primary;
    }
  }
}

.user-navigation {
  height: 60px;
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.user-navigation-list {
  display: flex;
  margin: 0;

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.user-navigation-item {
  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

.user-navigation-item--disable {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.close-button {
  @include button;
  display: block;
  width: 38px;
  height: 60px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 22px;
    width: 16px;
    height: 1.5px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.open-button {
  @include button;
  width: 38px;
  height: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1.5px;
    top: 24px;
    right: 20px;
    background-color: $base-black;
    box-shadow: 0 4px 0 0 $base-black, 0 8px 0 0 $base-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.log-in-button {
  @include button;
  padding: 21px;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 0 44px;
  }
}

.log-in-button:hover > .button-icon {
  fill: $base-primary;
}

.log-in-button:hover > .button-name {
  color: $base-primary;
}

.button-name {
  display: none;

  @media (min-width: $desktop-width) {
    @include button;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &:hover {
    color: $base-primary;
  }
}

.basket-button {
  @include button;
  padding: 21px;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 0 44px;
  }
}

.basket-button:hover > .button-icon {
  fill: $base-primary;
}

.basket-button:hover > .button-name {
  color: $base-primary;
}

.log-in-button,
.basket-button {
  text-transform: uppercase;
  position: relative;
}

.button-icon {
  fill: $base-black;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 20px;
    top: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .site-navigation--closed .site-navigation--nojs {
    display: none;
  }

  .site-navigation--nojs .site-navigation-list {
    display: block;
    position: static;
  }

  .site-navigation--closed .site-navigation-list {
    display: none;
  }

  .button-disable {
    display: none;
  }
}
