.header {
  position: relative;
  height: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    height: 80px;
  }
}
