.noUi-connects .noUi-connect {
  background-color: $primary-lighter;
}

.noUi-origin .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
  border: 2px solid $primary-lighter;
  border-radius: 100%;
  position: relative;

  &::after,
  &::before {
    display: none;
  }
}

.noUi-touch-area {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  border-radius: 100%;

  &:hover {
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $base-primary;
  }
}
