.offer {
  text-align: center;
}

.offer-item {
  padding: 20px 0 60px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 248px;
    padding: 60px 0 308px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 30px 80px 84px 80px;
    display: flex;
    justify-content: space-between;
  }
}

.offer-item--first-slide {
  background-color: $flat-white;
}

.offer-item--second-slide {
  background-color: $lavender-latte;
}

.offer-item--third-slide {
  background-color: $espresso;
}

.offer-item__picture {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -180px;
    left: 0;
    right: 0;
    margin: auto;
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 600px;
    height: 600px;
  }
}

.offer-item__description {
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.offer-item__raiting {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $base-primary;
  margin-bottom: 4px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-top: 150px;
  }
}

.offer-item__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.offer-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding: 0 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 625px;
    margin-bottom: 40px;
  }
}
