.offer {
  text-align: center;
}

.offer-item {
  padding: 20px 0 60px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 248px;
    padding: 60px 0 308px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 30px 80px 84px 80px;
    display: flex;
    justify-content: space-between;
  }
}

.offer-item--first-slide {
  background-color: $flat-white;
}

.offer-item--second-slide {
  background-color: $lavender-latte;
}

.offer-item--third-slide {
  background-color: $espresso;
}

.offer-item__picture {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -180px;
    left: 0;
    right: 0;
    margin: auto;
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 600px;
    height: 600px;
  }
}

.offer-item__description {
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.offer-item__raiting {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $base-primary;
  margin-bottom: 4px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-top: 150px;
  }
}

.offer-item__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.offer-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding: 0 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 625px;
    margin-bottom: 40px;
  }
}

.old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration-line: line-through;
  margin-right: 6px;
}

.prise {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-right: 20px;
}

.order-button {
  @include button;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  padding: 8px 20px;
  background-color: $base-primary;
  border-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 3.9%;
  height: 100%;

  @media (min-width: $tablet-width) {
    top: 2.5%;
  }

  @media (min-width: $desktop-width) {
    top: 3%;
    width: 80px;
  }

  &::after {
    font-size: 20px;
    color: $base-primary;
  }
}

.swiper-button-prev {
  left: 0;

  &:hover {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.swiper-button-next {
  right: 0;

  &:hover {
    background: linear-gradient(266.81deg, #ffffff 3.05%, rgba(255, 255, 255, 0) 97.77%);
  }

  &:active {
    background: linear-gradient(266.81deg, rgba(120, 89, 207, 0.25) 2.87%, rgba(120, 89, 207, 0) 97.6%);
  }
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    top: 87%;
  }
}

.swiper-pagination-bullet {
  background-color: $base-white;
  opacity: 1;
  width: 62px;
  height: 4px;
  border-radius: 0%;

  &:hover {
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $base-primary;
  }
}

.swiper-pagination-bullet-active {
  background-color: $base-primary;
  opacity: none;
}
