.open-button {
  @include button;
  width: 38px;
  height: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1.5px;
    top: 24px;
    right: 20px;
    background-color: $base-black;
    box-shadow: 0 4px 0 0 $base-black, 0 8px 0 0 $base-black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
