.old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration-line: line-through;
  margin-right: 6px;
}

.prise {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-right: 20px;
}
