.result {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.result-sort {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    text-align: right;
  }
}

.result-sort__caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}

.result-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 317px 317px 317px;
    margin-bottom: 60px;
  }
}

.result-list__item {
  text-align: left;
  border-radius: 4px;
  background-color: $base-white;
  padding: 40px 20px 20px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;

    &:hover {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.result-list__picture {
  display: block;
  margin: 0 auto 24px auto;
}

.result-list__name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 4px;
  color: $base-black;
}

.result-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 16px 0;
  max-width: 289px;
}
